<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= restroom.location.address %></title>
    <link rel="icon" type="image/x-icon" href="/public/Icon.png">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    
</head>
<body>
    <h1><%= restroom.location.address %></h1>
    <p><strong>City:</strong> <%= restroom.location.city %></p>
    <p><strong>Baby Changing Table:</strong> <%= restroom.metrics.hasBabyChangingTable ? 'Yes' : 'No' %></p>
    <p><strong>Sanitary Products Available:</strong> <%= restroom.metrics.providesSanitaryProducts ? 'Yes' : 'No' %></p>
    <p><strong>Customers Only:</strong> <%= restroom.metrics.customerOnly ? 'Yes' : 'No' %></p>
    <p><strong>Dryer Available:</strong> <%= restroom.metrics.dryer ? 'Yes' : 'No' %></p>

    <p><strong>Overall Rating:</strong> 
        <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %>
                <% if (i <= restroom.rating) { %>
                    <span class="star filled">★</span>
                <% } else { %>
                    <span class="star">☆</span>
                <% } %>
            <% } %>
        </div>
    </p>
    
    <p><strong>Cleanliness:</strong> 
        <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %>
                <% if (i <= restroom.ratingMetrics.cleanliness) { %>
                    <span class="star filled">★</span>
                <% } else { %>
                    <span class="star">☆</span>
                <% } %>
            <% } %>
        </div>
    </p>

    <p><strong>Accessibility:</strong> 
        <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %>
                <% if (i <= restroom.ratingMetrics.accessibility) { %>
                    <span class="star filled">★</span>
                <% } else { %>
                    <span class="star">☆</span>
                <% } %>
            <% } %>
        </div>
    </p>

    <p><strong>Facility:</strong> 
        <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %>
                <% if (i <= restroom.ratingMetrics.facility) { %>
                    <span class="star filled">★</span>
                <% } else { %>
                    <span class="star">☆</span>
                <% } %>
            <% } %>
        </div>
    </p>
    <form action="/restroom/<%= restroom.restroomId %>/review" method="POST" required>
        <label for="text">review</label>
        <textarea name="text" id="text" rows="4" cols="50" required></textarea>
        <br>
        <label for="rating">rating</label>
        <input type="number" name="rating" id="rating" min="1" max="5" required>
        <br>
        <h3>ratingMetrics</h3>
        <label for="cleanliness">cleanliness</label>
        <input type="number" name="ratingMetrics.cleanliness" id="cleanliness" min="1" max="5" required>
        <br>
        <label for="accessibility">accessibility</label>
        <input type="number" name="ratingMetrics.accessibility" id="accessibility" min="1" max="5" required>
        <br>
        <label for="facility">facility</label>
        <input type="number" name="ratingMetrics.facility" id="facility" min="1" max="5" required>
        <br>
        <h3>metrics</h3>
        <label for="isOpen">isOpen</label>
        <input type="checkbox" name="metrics.isOpen" id="isOpen">
        <br>
        <label for="hasBabyChangingTable">hasBabyChangingTable</label>
        <input type="checkbox" name="metrics.hasBabyChangingTable" id="hasBabyChangingTable">
        <br>
        <label for="providesSanitaryProducts">providesSanitaryProducts</label>
        <input type="checkbox" name="metrics.providesSanitaryProducts" id="providesSanitaryProducts">
        <br>
        <label for="customerOnly">customerOnly</label>
        <input type="checkbox" name="metrics.customerOnly" id="customerOnly">
        <br>
        <label for="dryer">dryer</label>
        <input type="checkbox" name="metrics.dryer" id="dryer">
        <br>
        <button type="submit">submit</button>
      </form>
    <p><strong>Image:</strong>
        <div class="star-rating">
            <img src="<%= restroom.pathToImage %>" alt="" srcset="" width="500" height="400">
        </div>
    </p>
</body>
</html>
